In [1]:
import sys, os, io
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from scripts.dataloader import DataLoader
from scripts.utils import Util

In [3]:
driver_locations_during_request = '../data/driver_locations_during_request.csv'
nb = '../data/nb.csv'

In [4]:
dataloader = DataLoader()

In [5]:
# repo = 'https://github.com/Haylemicheal/Causal-Inference'
# tag = 'raw-data'
# driver_location_content = dataloader.load_from_dvc(driver_locations_during_request, repo, tag)

In [6]:
# nb_content = dataloader.load_from_dvc(nb, repo, tag)

In [7]:
df_driver_loc = dataloader.read_csv(driver_locations_during_request)
df_nb = dataloader.read_csv(nb)

In [8]:
df_driver_loc.head(5)

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [9]:
df_nb.head(5)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [10]:
util = Util()

In [11]:
percent_driver, count_driver = util.get_missing(df_driver_loc)

In [12]:
print(count_driver)

id                     0
order_id               0
driver_id              0
driver_action          0
lat                    0
lng                    0
created_at       1557740
updated_at       1557740
dtype: int64

### The created_at and the updated_at columns doesn't have values. So I will drop both columns

In [13]:
df_driver_loc = util.drop_column(df_driver_loc, "created_at")
df_driver_loc = util.drop_column(df_driver_loc, "updated_at")

In [14]:
percent_driver, count_driver = util.get_missing(df_driver_loc)

In [15]:
print(count_driver)

id               0
order_id         0
driver_id        0
driver_action    0
lat              0
lng              0
dtype: int64

In [16]:
percent_nb, count_nb = util.get_missing(df_nb)

In [17]:
print(count_nb)

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [18]:
df_driver_loc.shape

(1557740, 6)

In [19]:
df_nb.shape

(536020, 5)

In [20]:
len(df_driver_loc["driver_id"].unique())

1213

There are 1213 drivers