In [1]:
import sys, os, io
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from scripts.dataloader import DataLoader

In [3]:
data = '../data/struct_data.csv'

In [4]:
dataloader = DataLoader()
df = dataloader.read_csv(data)

In [5]:
df.head(5)

,Unnamed: 0,order_id,driver_id,driver_action,lat,lng,Trip ID,distance,year,month,day,hour
0,0,392001,243828,0,6.602207,3.270465,392001,20.984319,2021,7,1,9
1,1,392001,243588,1,6.592097,3.287445,392001,20.984319,2021,7,1,9
2,2,392001,243830,1,6.596133,3.281784,392001,20.984319,2021,7,1,9
3,3,392001,243539,1,6.596142,3.280526,392001,20.984319,2021,7,1,9
4,4,392001,171653,1,6.609232,3.288800,392001,20.984319,2021,7,1,9

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from scripts.modeling import Model
random_forest_args = {
    'n_estimators': 100,
    'max_depth': 16,
    'max_features': 'sqrt',
    'n_jobs': 4
}
modeling = Model(df, RandomForestRegressor)
model, result = modeling.train(random_forest_args, 'random_forest_regressor')